<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>联系我们</title>
    <%- include common %>
</head>
<body>
    <%- include('head',{title:'about'})%>
    <h2>联系我们 tel:13888888888</h2>
</body>
</html>